body {
    color:  #3e312e ;
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 128);
  }
table {
    border-collapse: collapse;
}
  
table, td, th {
    border: 1px dashed black;
}
.infobulle {
    position: relative;  /* les .infobulle deviennent référents */
    cursor: help;
}
p {
    line-height: 1.5;
}
h1 {
  color: green;
}
a {
    text-decoration: underline;
    color: #a00;
  }
  a:visited {
    color: #844;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
    background: #800;
  }
.villageois {
    background-color: hsla(50, 33%, 25%, .75);
}
.fermier {
    background-color: chartreuse;
}